body {
    margin: 30px;
    width: auto;
    height: auto;
    font: bold;
}
header{
    width: 100%;
    border-bottom: 2px solid  #239CC3;
}

header div input{
    width: 100%;
}

article{
    width:100%;
    margin-top:5%;
    
}

.Container{
    padding-top: 30px;
    margin-left: 30%;
    width: 30%;
    text-align: center;
    border: 2px solid  #239CC3;
    height: 100%;
}

#res{
    margin-bottom: 5%;
}

#res input{
    width: 70%;
    height: 50px;
    margin: 0px;
    padding: 0%;
    border:0px;
    background-color: #83B8C9;
    text-align: right;
    font: x-large bold;
    color: white;
   
}

#botones button{
     margin-bottom: 2%;
     width: 16%;
     height: 40px;
     border-radius: 30%;
     background-color: #239CC3;
     color: white;      
}


#botones button:hover{
    background-color: #83B8C9;
}

.pl{
    width: 100%;
}



